<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
<meta charset="UTF-8">
<title>t3 - List 등록</title>
</head>
<body>
	<h2>상품목록</h2>
	<table border="1">
		<thead>
			<tr>
				<th>상품번호</th>
				<th>상품명</th>
				<th>상품 상세설명</th>
				<th>상품 가격</th>
				<th>상품 등록일</th>
			</tr>
		</thead>
		<tbody>
			<tr th:each="itemDTO, status:${itemList}">
				<td th:text="${status.count}"></td>
				<!-- index - 0~
				count - 1~ -->
				<td th:text="${itemDTO.itemNm}"></td>
				<td th:text="${itemDTO.itemDetail}"></td>
				<td th:text="${itemDTO.price}"></td>
				<td th:text="${itemDTO.regTime}"></td>
			</tr>
		</tbody>
	</table>
</body>
</html>